.seat-layout-container {
  .seat-layout {
    display: block;
    width: 100%;
    margin: 0 auto;
    background: #fafafa;
    overflow-y: auto;
    padding: 11px 12px;
    box-sizing: border-box;
    height: 100vh;

    .table {
      width: 100%;

      td {
        padding: 0;
        margin: 0;
        white-space: nowrap;
      }

      .table-body {
        .category-name {
          width: 100%;
          color: #999;
          font-size: 12px;
          margin-bottom: 5px;
          text-align: left;
          padding-bottom: 10px;
          border-bottom: 1px solid #ececec;
          font-family: Roboto;
          margin-top: 15px;
        }

        .row-name {
          color: #999;
          font-size: 12px;
          text-align: left;
          font-family: Roboto;
          width: 17px;
          height: 17px;
        }

        .screen-info {
          display: block;
          justify-content: center;
          margin: 3px auto;
          width: fit-content;
          margin-top: 40px;
          font-family: "Roboto";
          font-weight: 400;

          .screen-icon {
            margin: 0px auto;
            width: fit-content;
          }
          .screen-text {
            margin: 0px auto;
            width: fit-content;
          }
        }

        .seat {
          width: 25px;
          height: 25px;
          margin: 2px;
          text-align: center;
          display: inline-block;
          font-size: 10px;
          line-height: 25px;
          font-weight: 400;
          vertical-align: top;
        }
        .active {
          border-radius: 5px;
          background: #fff;
          border: 1px solid green;
          color: green;
          height: 100%;
          box-sizing: border-box;
          cursor: pointer;
        }

        .selected {
          background: green;
          color: white;
        }

        .disabled {
          border-radius: 5px;
          background: rgb(238, 238, 238);
          color: white;
          border: none;
          height: 100%;
        }
      }
    }
  }

  .leagend-menu {
    position: fixed;
    display: flex;
    bottom: 0;
    height: fit-content;
    width: 100%;
    background: white;
    padding: 20px;
    align-items: center;
    justify-content: center;

    .leagend {
      padding: 0px 10px;
      display: flex;
      align-items: center;

      .seat {
        width: 25px;
        height: 25px;
        margin: 2px;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        line-height: 25px;
        font-weight: 400;
        vertical-align: top;
      }
      .active {
        border-radius: 5px;
        background: #fff;
        border: 1px solid green;
        color: green;
        height: 100%;
        box-sizing: border-box;
        cursor: pointer;
      }

      .selected {
        background: green;
        color: white;
      }

      .disabled {
        border-radius: 5px;
        background: rgb(238, 238, 238);
        color: white;
        border: none;
        height: 100%;
      }

      .leagend-active {
        border-radius: 5px;
        background: #fff;
        border: 1px solid green;
        color: green;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }

  .confirm-dialogue {
    color: black;
    height: 86px;
    z-index: 20;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    .confirm-btn {
      height: fit-content;
      background: red;
      border-radius: 4px;
      padding: 8px 10px;
      color: white;
      cursor: pointer;
    }
  }

  .sucess-container {
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 30;
    justify-content: center;
    align-items: center;
  }
  .sucess-text {
    margin: 0px auto;
    padding: 30px 40px;
    background: red;
    height: fit-content;
    border-radius: 42px;
    color: white;
    box-shadow: 0px 0px 8px #4e4a4a;
    cursor: pointer;
  }

  .seat-layout::-webkit-scrollbar {
    display: none;
  }
}
